.bg{
    background-color: rgb(47,27,199);
    background-image: url(draw.png);
}
.del{
    margin-top: 11%;
    margin-left: 7%;
    font-family:sans-serif;
    font-weight: bolder;
    font-stretch: extra-expanded;
    font-size: 920%;
    letter-spacing: 118px;
    color: rgb(255, 255, 16);
}
.button{
    position: absolute;top:35%;right:12%;
}
.aboutme{
    margin-right: 30px;
    width: 140px;
    height: 140px;
}
.protfo{
    margin-right: 32px;  
    width: 140px;
    height: 140px;
}
.contact{
    width: 140px;
    height: 140px;
}

@media(max-width:1024px){
    .bg{
        background-size: cover;
        background-image: url(draw.png);
        background-attachment: fixed;
        background-repeat:no-repeat;
    }
    .del{
        margin-top: 12%;
        letter-spacing: 66px;
        font-size: 650%;
    }
    .button{
        position: absolute;top:50%;right:25%;
    }
    .aboutme{
        margin-right: 30px;
        font-size: 18px;
        width: 100px;
        height:100px;
    }
    .protfo{
        margin-right: 30px;
        font-size: 18px;
        width: 100px;
        height:100px;

    }
    .contact{
        font-size: 18px;
        width: 100px;
        height:100px;

    }

}

@media(max-width:500px){
    .load{
        position: absolute;top:35%;left:39%;
    }
    .del{
        color: rgb(255, 255, 16);
        margin-top: 18%;
        letter-spacing: 60px;
        font-size: 580%;
    }
    .button{
        position: absolute;top:55%;right: 17%;
    }
    .aboutme{
        margin-right: 10px;
        font-size: 14px;
        width: 80px;
        height:80px;
    }
    .protfo{
        margin-right: 12px;
        font-size: 14px;
        width: 80px;
        height:80px;
    }
    .contact{
        font-size: 14px;
        width: 80px;
        height:80px;
    }
}
